@media screen and (max-width: 1100px) {
    .container {
        width: 950px !important;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 850px !important;
    }
}

@media screen and (max-width: 750px) {
    .container {
        width: 650px !important;
    }
    
    .background_custom_design {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #mobile-menu {
        display: flex !important;
    }

    .container {
        width: 450px !important;
    }

    #left-sidebar {
        display: none;
    }

    #desktop-menu {
        display: none;
    }

    .row-container {
        flex-direction: column;
    }

    .col-3 {
        width: 100% !important;
    }

    .col-6 {
        width: 100% !important;
    }

    .reactions {
        width: 300px !important;
        right: 6px !important;
        top: 53px !important;
        box-shadow: 0 0 5px 0 #0000002b;
        height: 47px !important;
    }
}

@media screen and (max-width: 480px) {

    .container {
        width: 350px !important;
    }

    #messenger_user_details {
        display: none;
    }

    #messenger_navbar {
        padding: 0 20px 0 40px !important;
    }

    #messenger_chat {
        width: 100% !important;
    }

    .container_auth {
        width: 350px;
        top: 180px;
        right: 0;
    }
}